@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- fonts --------- */

@import "_misc/_fonts";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- misc sprite icons --------- */

$misc-sprite: sprite-map('icons/_misc/*.png', $spacing: 70px);

/* --------- colors --------- */

$black: rgb(51, 51, 51);
$orange: rgb(255,102,0);
$grey: rgb(225,225,225);

// /* --------- plugins--------- */

@import "_plugins/**/*";

/* --------- sections --------- */

@import "_sections/**/*";


/* --------- widgets --------- */

@import "_widgets/**/*";





