nav.nav
	.container
		ul.nav__list
			li.nav__item 
				a(href="#").nav__link Планшеты
			li.nav__item.nav__item_active
				a(href="#").nav__link Мобильные телефоны
			li.nav__item 
				a(href="#").nav__link Mp3 плееры
			li.nav__item 
				a(href="#").nav__link Персональные компьютеры
			li.nav__item 
				a(href="#").nav__link Аксессуары
			li.nav__item 
				a(href="#").nav__link Бытовая техника